#Carousel{
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
}

.carousel-text-area{
  position: absolute;
  display: flex;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.589);
  width: 90%;
  height: 35vw;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 40px;
}

.carousel-text-area > h1{

  font-size: 4vw;
  line-height: 5vw;
  font-family: Lato;
  font-weight: 800;
  font-style: normal;
  color: rgb(189, 189, 189);
}

.carousel-images-area{
  border-radius: 30px;
}

.carousel-images-area > img{
  border-radius: 30px;
  height: 35vw;
  width: 100%;
  object-fit: cover;
}
