<div id="GraphicCardPage">

  <app-loader *ngIf="isLoading"></app-loader>

  <select name="orderBy" class="orderBy"
  *ngIf="!isLoading"
  (change)="orderBy($event.target.value)">
    <option disabled selected>
      Ordenar Por
    </option>
    <option *ngFor='let filter of filters'
    value={{filter.option}} >
      {{filter.text}}
    </option>
  </select>

  <app-products-card *ngFor='let product of products'
    [img_path]="product.img_path"
    [link]="product.link"
    [name]="product.name.toUpperCase()"
    [price]="product.price"
    [store_name]="product.store_name"
  ></app-products-card>

</div>
